<div class="container">
  <br />
  <h2 style="text-align: center">Lista de comentarios</h2>
  <div style="text-align: right">
    <button mat-raised-button color="primary" routerLink="/comentarios/insertarcomentario">
      Nuevo
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Id comentario.</th>
      <td mat-cell *matCellDef="let element">{{ element.idComentario_Cliente_Taller }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef>Calificación</th>
      <td mat-cell *matCellDef="let element">
        {{ element.calificacion }}
      </td>
    </ng-container>

    <ng-container matColumnDef="fechaComentario">
      <th mat-header-cell *matHeaderCellDef>Fecha del comentario</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fechaComentario }}
      </td>
    </ng-container>

    <ng-container matColumnDef="taller">
      <th mat-header-cell *matHeaderCellDef>Taller</th>
      <td mat-cell *matCellDef="let element">
        {{ element.taller }}
      </td>
    </ng-container>

    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          [routerLink]="['ediciones', element.idMovie]"
        >
        <mat-icon> border_color</mat-icon>        </button>
      </td></ng-container
    >

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="accent"
          (click)="eliminar(element.idMovie)"
        >
        <mat-icon>delete</mat-icon>
      </button>
      </td></ng-container
    >



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  ></mat-paginator>
</div>
