<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" class="techsos-button">
    <mat-icon aria-hidden="true" aria-label="Example home icon">home</mat-icon>
    <span class="techsos-text">TechSos</span>
  </button>
  <button mat-button class="district-button" [matMenuTriggerFor]="menuDistrict">District</button>
  <button mat-button class="brand-button" [matMenuTriggerFor]="menuBrand">Marca</button>
  <button mat-button class="user-button" [matMenuTriggerFor]="menuUser">Usuario</button>
</mat-toolbar>

<mat-menu #menuDistrict="matMenu">
  <button mat-menu-item routerLink="/district">Listar</button>
  <button mat-menu-item routerLink="/district/insertardistrict">Registrar</button>
</mat-menu>

<mat-menu #menuBrand="matMenu">
  <button mat-menu-item routerLink="/brand">Listar</button>
</mat-menu>

<mat-menu #menuUser="matMenu">
  <button mat-menu-item routerLink="/user">Listar</button>
  <button mat-menu-item routerLink="/user/registrar">Registrar</button>
</mat-menu>

<router-outlet></router-outlet>
