<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" class="techsos-button">
    <mat-icon aria-hidden="true" aria-label="Example home icon">home</mat-icon>
    <span class="techsos-text">TechSos</span>
  </button>
  <button mat-button class="district-button" [matMenuTriggerFor]="menuDistrict">District</button>
  <button mat-button class="marca-button" [matMenuTriggerFor]="menuBrand">Marca</button>
  <button mat-button class="reparacion-button" [matMenuTriggerFor]="menuReparacion">Reparacion</button>
  <button mat-button class="modelo-button" [matMenuTriggerFor]="menuModelo">Modelo</button>
  <button mat-button class="dispositivo-button" [matMenuTriggerFor]="menuDispositivo">Dispositivo</button>
</mat-toolbar>

<mat-menu #menuDistrict="matMenu">
  <button mat-menu-item routerLink="/district">Listar</button>
  <button mat-menu-item routerLink="/district/insertardistrict">Registrar</button>
</mat-menu>

<mat-menu #menuBrand="matMenu">
  <button mat-menu-item routerLink="/brand">Listar</button>
</mat-menu>

<mat-menu #menuReparacion="matMenu">
  <button mat-menu-item routerLink="/reparacion">Listar</button>
</mat-menu>

<router-outlet></router-outlet>
