<div class="container" style="text-align: center">
  <h2>Registro de Usuario</h2>
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">

    <mat-form-field class="example-full-width">
      <mat-label>Usuario:</mat-label>
      <input matInput placeholder="username" formControlName="username" />
      <mat-error *ngIf="form.get('username')?.hasError('required')"
      >El usuario es obligatorio.</mat-error
    >
    </mat-form-field>
  <br/>


    <mat-form-field class="example-full-width">
      <mat-label>Contraseña:</mat-label>
      <textarea  matInput placeholder="password" formControlName="password"></textarea>
      <mat-error *ngIf="form.get('password')?.hasError('required')"
      >La contraseña es obligatoria.</mat-error
    >
    </mat-form-field>
    <br />

    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/distritos">
      Cancelar
    </button>
  </form>
</div>
